<?xml version="1.0" ?>
<robot name="jaguar_robot" xmlns:xacro="http://ros.org/wiki/xacro">
    
    <xacro:property name="PI" value="3.1415926535897931" />

    <!-- The base_link is assumed to be defined as the geometric center point of the side panel of the robot -->
    <link name="base_link"/>
    <!-- <link name="chassis_link"></link>
    <joint name="base_link_joint" type="fixed">
        <parent link="base_link"/>
        <child link="chassis_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint> -->

    <!-- IMU -->
    <link name="imu_link"/>
    <joint name="imu_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0.14653 0 0.34964"/>
        <parent link="base_link"/>
        <child link="imu_link"/>
    </joint>

    <!-- OS1 lidar -->
    <link name="os1_lidar"/>
    <joint name="os1_lidar_joint" type="fixed">
        <origin rpy="0 0 ${PI}" xyz="-0.01936 0 0.64805"/>
        <parent link="base_link"/>
        <child link="os1_lidar"/>
    </joint>

     <!-- Zed2 -->
     <!-- <link name="zed2_camera_center"/>
     <joint name="zed2_camera_joint" type="fixed">
         <origin rpy="0 0 0" xyz="0.21866 0 0.34919"/>
         <parent link="camera_frame"/>
         <child link="zed2_camera_center"/>
     </joint> -->
</robot>