<launch>

    <arg name="project" default="lio_sam"/>
    
    <!-- Parameters -->
    <rosparam file="$(find lio_sam)/config/params.yaml" command="load"/>

    <!--- LOAM -->
    <node pkg="$(arg project)" type="$(arg project)_offline" name="$(arg project)_offline" output="screen"/>

    <!--- Robot State TF -->
    <include file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch"/>

    <!--- Run Navsat -->
    <!-- <include file="$(find lio_sam)/launch/include/module_navsat.launch"/> -->

    <!-- <include file="$(find lio_sam)/launch/plot.launch"/>

    <node pkg="$(arg project)" type="quat_to_euler.py" name="quat_to_euler" output="screen"/> -->

    <node pkg="ouster_ros" name="os_node" type="os_node" output="screen" required="true">
        <param name="~/replay" value="true"/>
        <param name="~/metadata" value="$(find jaguar4x4_2014)/config/ouster_metadata.json"/>
    </node>

    <!--- Run Rviz-->
    <include file="$(find lio_sam)/launch/include/module_rviz.launch"/>

</launch>
