<launch>
    <arg name="project" default="lio_sam" />

    <include file="$(find lio_sam)/launch/run_offline.launch" />

    <node pkg="rosbag" type="play" name="player" output="screen" args="-r 1 /media/marwan/external_drive/fyp/post_ouster_pkg_update/localization/localization_0_2021-02-13-16-06-39.bag" />

    <node pkg="rosbag" type="record" name="recorder" output="screen" args="
        /tf
        /tf_static
        /encoder_odom
        /os1_cloud_node/points
        /lio_sam/deskew/cloud_deskewed
        /lio_sam/mapping/odometry
        /lio_sam/mapping/map_local
        /lio_sam/mapping/map_global
        /lio_sam/mapping/cloud_registered
        /lio_sam/mapping/trajectory 
        -o /home/marwan/localization_0_courtyard.bag" />

</launch>
